.box{
    text-align: center;
    border: 3px solid;
    max-width: 350px;
    margin: auto;
}

h1{
    display: inline;
}

#sub{
    margin: 10px;
    padding: 5px 10px;
    font-size:1.5em;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 1s;
}

#sub:hover{
    box-shadow: 10px 5px 10px rgba(0,0,0,0.5);
}

p{
    font-size: 2em;
    display: inline;
}

#input{
    padding: 5px;
    border: 3px inset;
}

/* General styles for the calculator container */
.calc {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Arial, sans-serif;
}
.calc button {
    width: 60px;
    height: 60px;
    font-size: 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.calc button:hover {
    background-color: #0056b3;
}


#clear {
    background-color: red;
}

#clear:hover {
    background-color: #a71d2a;
}

#get{
    font-size: 1.4em;
}

.upper, .middle, .lower-mid, .lower {
    display: flex;
    justify-content: center;
}
